---
import PageLayout from "~/layouts/PageLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import { formatDate } from "~/utils";

const projects = (await getCollection("projects")).sort((a, b) => {
  return b.data.startDate.valueOf() - a.data.startDate.valueOf();
});
---

<PageLayout title="Code">
  <main class="padded the-center">
    <div class="stack">
      <header>
        <h1>Code</h1>
        <p>Coding endeavors and side projects.</p>
      </header>

      {
        projects.map((project) => (
          <a class="card with-sidebar-right" href={`/projects/${project.id}/`}>
            <div class="width-measure stack">
              <h2>{project.data.title}</h2>
              <p class="date">
                <span>{formatDate(project.data.startDate)}</span>{" "}
                {project.data.status === "in_progress" && (
                  <span class="in-progress">in progress</span>
                )}
              </p>
              {project.data.description && (
                <p class="description">{project.data.description}</p>
              )}
            </div>
            <div class="thumbnail">
              {project.data.image && (
                <Image
                  src={project.data.image}
                  alt={`${project.data.title} thumbnail`}
                  loading="lazy"
                />
              )}
            </div>
          </a>
        ))
      }
    </div>
  </main>
</PageLayout>

<style>
  main {
    --stack-space: var(--s4);
  }

  .card {
    align-items: start;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
  }
  .card:hover h2,
  .card:focus-visible h2 {
    color: var(--color-accent);
  }
  .card h2 {
    margin: 0;
  }
  .card .stack {
    --stack-space: var(--s1);
  }

  .date {
    margin: 0;
    color: var(--color-ink-muted);
    font-size: var(--s-1);
  }

  .in-progress {
    font-style: italic;
    color: var(--color-accent);
  }

  .thumbnail {
    flex-basis: calc(var(--measure) * 0.45);
  }
  .thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 3 / 2;
    max-width: 720px;
  }
</style>
